footer.fMassively
  ul.foot.fMassively__foot
    li.foot_onlist
      a.foot__link(href="#id" title="network")!= `Untitile`
    li.foot__onlist
      a.foot__link(href="#id" title="network")!= `Design HTML5`
    li.foot__onlist
      a.foot__link(href="#id" title="network")!= `Demo Imagenes`
