header.hMassively
  hgroup.header.massively__header
    h1.header__title!= `The web page title`
    h2.header__subtitle!= `Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.`
    a.header__link(href="#id" target="_blank")
      img(src="https://placehold.co/100x100" loading="lazy" alt="Flecha")

    h1.header__title-hidden!= `The Massively`
