
doctype html
html(lang="ES")
  //@author:Erick14911
  //https://caniuse.com/
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="author" content="Erick De La Rosa")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(http-equiv="content-style-type" content="text/css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(type="text/css" rel="stylesheet" href="assets/static/css/reset.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/fontStyle.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/animate.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/style.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/responsive.css")
    script(type="text/javascript" src="assets/static/js/script.js" defer)
    link(type="favicon.ico/x-icon" rel="shortcute icon" href="")
    title Massively
  body
    main.container
      //Layout
