nav.nMassively
  ul.left_menu.nMassively__menu
    li.menu__onlist
      a.menu__link(href="#id")!= `Inicio`
    li.menu__onlist
      a.menu__link(href="#id")!= `Conocenos`
      ol.nMassively__submenu
        li.submenu__onlist
          a.submenu__link(href="#id")!= `Quienes somos?`
        li.submenu__onlist
          a.submenu__link(href="#id")!= `Donde estamos?`
        li.submenu__onlist
          a.submenu__link(href="#id")!= `Que hacemos?`
    li.menu__onlist
      a.menu__link(href="#id")!= `Contactanos`

    ul.right_menu.nMassively__menu
      li.menu__onlist
        a.menu__link(href="#id")!= `facebook`
      li.menu__onlist
        a.menu__link(href="#id")!= `myspace`
      li.menu__onlist
        a.menu__link(href="#id")!= `twitter`
