// Templates
block meta
  include ../includes/init_index
    block header
      include ../includes/header_index
    block nav
      include ../includes/nav_index
    block section
      include ../includes/section_index
    block aside
      include ../includes/aside_index
    block footer
      include ../includes/footer_index
